@import url("https://fonts.cdnfonts.com/css/general-sans");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #1c1c1c;
  font-family: "General Sans", sans-serif;
}

@layer base {
  @font-face {
    font-family: "HVD";
    src: url("/fonts/hvd_steinzeit.otf") format("opentype");
  }

  @font-face {
    font-family: "HVD Filling";
    src: url("/fonts/hvd_steinzeit_fillin.otf") format("opentype");
  }
}

@layer utilities {
  .border-hsla {
    @apply border border-white/20;
  }

  .nav-hover-btn {
    @apply relative ms-10 font-general text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-black rounded-lg border;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .title-font {
    font-family: "HVD", sans-serif !important;
  }

  .hero-heading {
    @apply font-black text-5xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[12rem];
  }

  .about-sub CLUSTERED {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center font-circular-web text-lg md:max-w-[34rem];
  }

  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-[60vh] origin-center -translate-x-1/2 overflow-hidden rounded-full md:w-[30vw] md:h-[30vw];
  }

  .animated-title {
    @apply flex font-extrabold flex-col gap-1 text-5xl uppercase leading-[.8] text-gray-300 sm:px-32 md:text-[6rem];
    font-family: "HVD", sans-serif;
  }

  .animated-word {
    @apply font-black opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }

  .bento-tilt_1 {
    @apply relative border-hsla col-span-2 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .bento-tilt_2 {
    @apply relative col-span-1 row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .bento-title {
    @apply uppercase md:text-6xl text-4xl font-black;
  }

  .story-img-container {
    @apply relative md:h-dvh h-[90vh] w-full;
    filter: url("#flt_tag");
  }

  .story-img-mask {
    @apply absolute left-0 top-0 size-full overflow-hidden md:left-[20%] md:top-[-10%] md:size-4/5;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
  }

  .story-img-content {
    @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
  }

  .gallery-img-container {
    @apply size-64 overflow-hidden bg-violet-300;
  }

  .gallery-img {
    @apply size-full bg-cover;
  }

  .gallery-img-4 {
    @apply sm:size-80 md:h-96 md:w-[25rem] rounded-lg;
  }

  .sword-man-clip-path {
    clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
  }

  .contact-clip-path-1 {
    clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
  }

  .contact-clip-path-2 {
    clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
  }
}

.indicator-line {
  @apply h-1 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }
  50% {
    height: 16px;
    transform: translateY(-4px);
  }
  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

/* From Uiverse.io by G4b413l */
/* https://uiverse.io/G4b413l/tidy-walrus-92 */
/* From Uiverse.io by mobinkakei */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.custom-div {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.custom-video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  object-position: center;
}

/* Mobile view - reduce size */
@media (max-width: 640px) {
  .custom-div {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .custom-video {
    width: 100%;
    height: auto;
    object-fit: contain;
    -webkit-appearance: none;
    pointer-events: none;
  }

  .skip-btn {
    visibility: hidden;
  }

  .mask-clip-path {
    clip-path: circle(40% at 50% 50%);
    /* background-color: #fff; */
    margin-top: -35%;
  }
}

.funky-text {
  font-family: "Rubik Doodle Shadow", cursive;
}

.funky-text-2 {
  font-family: "Gloria Hallelujah", cursive;
}

.funky-text-3 {
  font-family: "Bungee Spice", cursive;
}

.funky-text-4 {
  font-family: "Shrikhand";
}

.animated-gradient {
  background-color: #ff4c29;
  transition: background 0.5s ease, transform 0.3s ease;
  color: white;
}

.animated-gradient:hover {
  background-image: linear-gradient(270deg, #ff4c29, #00e6e6, #007bff);
  background-size: 400% 400%;
  animation: gradientFlow 2s alternate-reverse infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 640px) and (max-height: 900px) {
  .topSection {
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .LogoImg {
    width: 100px;
  }

  .topSection p {
    opacity: 0;
    font-size: 1px;
  }

  .topSection button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  .bottom-image-section {
    position: relative;
    left: 0;
    transform: none;
    width: 100%;
    padding: 1rem;
  }

  .bottom-image-section .image-wrapper {
    height: 10rem;
    max-width: 100%;
  }

  .bottom-image-section img {
    max-width: 100%;
    height: 32rem;
    object-fit: cover;
  }

  /* .bottom-img-hero{
    height: 20px;
  } */

  .moba {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }

  .bottomRight {
    top: 20%;
    left: 2%;
    padding: 5px 10px;
    width: 360px;
  }

  .knowText {
    font-size: 11px;
    margin-bottom: -5px;
  }

  .KnowName {
    font-size: 24px;
    margin-bottom: 1px;
  }

  .timelineDot {
    opacity: 0;
  }

  .video-card {
    height: 380px;
  }

  .short-card {
    height: 640px;
  }

  .timelineLine {
    top: 20%;
  }

  .AboutFlex {
    display: inline;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    margin-left: 10px;
  }

  .mobile-know {
    display: block;
  }

  .knowImg {
    top: 10%;
    left: 12% !important;
  }

  .animated-title {
    font-size: 5rem;
  }

  .topSection2 {
    left: 5%;
    text-align: left;
    z-index: -1;
    display: none;
  }

  .topSection2 h1 {
    font-size: 1.3rem;
  }

  .topSection2 p {
    font-size: 10px;
    margin-top: 10px;
  }

  .extra-text {
    opacity: 0;
  }

  .pod-main {
    margin-bottom: -50px;
  }

  .con-main {
    margin-top: -75px;
  }

  .card-Image {
    display: none;
  }
  .card-Box:nth-child(even) {
    transform: translateX(-50%);
  }
  .card-Box:nth-child(odd) {
    transform: translateX(10%);
  }

  .desktop-know {
    display: none;
  }
}

@media (max-width: 440px) and (min-height: 800px) and (max-height: 999px) {
  .topSection {
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .LogoImg {
    width: 100px;
  }

  .topSection p {
    opacity: 0;
    font-size: 1px;
  }

  .topSection button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  .bottom-image-section {
    position: relative;
    left: 0;
    transform: none;
    width: 100%;
    padding: 1rem;
  }

  .moba {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }

  .bottomRight {
    top: 20%;
    left: 2%;
    padding: 5px 10px;
    width: 360px;
  }

  .knowText {
    font-size: 11px;
    margin-bottom: -5px;
  }

  .KnowName {
    font-size: 24px;
    margin-bottom: 1px;
  }

  .timelineDot {
    opacity: 0;
  }

  .video-card {
    height: 380px;
  }

  .short-card {
    height: 640px;
  }

  .timelineLine {
    top: 20%;
  }

  .AboutFlex {
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    margin-left: 10px;
  }

  .mobile-know {
    display: block;
  }

  .animated-title {
    font-size: 5rem;
  }

  .topSection2 {
    left: 5%;
    text-align: left;
    z-index: -1;
  }

  .topSection2 h1 {
    font-size: 1.3rem;
  }

  .topSection2 p {
    font-size: 10px;
    margin-top: 10px;
  }

  .extra-text {
    opacity: 0;
  }

  .pod-main {
    margin-bottom: -50px;
  }

  .con-main {
    margin-top: -75px;
  }

  .card-Image {
    display: none;
  }
  .card-Box:nth-child(even) {
    transform: translateX(-50%);
  }
  .card-Box:nth-child(odd) {
    transform: translateX(10%);
  }

  .bottom-image-section img {
    max-width: 100%;
    height: 44rem;
    object-fit: cover;
  }
}

.animated-gradient {
  background: radial-gradient(circle, #007bff, #ff4c29, #00e6e6);
  background-size: 400% 400%;
  animation: circularFlow 10s linear infinite;
}

@keyframes circularFlow {
  0% {
    background-position: 50% 0%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.AboutFlex img {
  left: 0;
}

/* .bottom-image-section img {
  max-width: 800px;
} */

@media (min-width: 600px) and (max-width: 1024px) {
  .topSection2 {
    top: 50%;
  }

  #about {
    height: 100vh !important;
    margin-bottom: -180% !important;
  }
}

.mobile-know {
  display: none;
}
